<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB8KK707tJBvwnJ5-8EuP9-3-DO_z-C1gw</string>
	<key>GCM_SENDER_ID</key>
	<string>567556924559</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterQuizApp</string>
	<key>PROJECT_ID</key>
	<string>flutterapp-92668</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterapp-92668.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:567556924559:ios:c13fdb341c2ab8ee683cfa</string>
</dict>
</plist>